127.0.0.1   lancache
127.0.0.1   localhost
::1 ip6-localhost   ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts
127.0.1.1   ubuntu-xenial.localdomain   ubuntu-xenial

# This is the primary IP (of the network card / eth) that your Lancache is using
{{ network.address }} lancache-eth

# The Following are Virtual IP's used by Lancache
{% for key, cache in caches|dictsort() %}
{{ cache.address }} lancache-{{ key }}
{% endfor %}
