# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# Regular host IP
auto {{ network.interface }}
iface {{ network.interface }} inet dhcp
# address {{ network.address }}
# netmask {{ network.netmask }}
# gateway {{ network.gateway }}

{% for key, cache in caches|dictsort() %}
# lancache-{{ key }}
# auto {{ network.interface }}:{{ loop.index }}
iface {{ network.interface }} inet static
    address {{ cache.address }}
    netmask {{ network.netmask }}

{% endfor %}
